//! **************************************************************************
// Written by: Map P.20131013 on Sat Feb 19 17:59:03 2022
//! **************************************************************************

SCHEMATIC START;
COMP "led_0" LOCATE = SITE "N3" LEVEL 1;
COMP "btn_0" LOCATE = SITE "P8" LEVEL 1;
COMP "led_1" LOCATE = SITE "P3" LEVEL 1;
COMP "btn_1" LOCATE = SITE "P9" LEVEL 1;
COMP "led_2" LOCATE = SITE "N4" LEVEL 1;
COMP "led_3" LOCATE = SITE "P4" LEVEL 1;
SCHEMATIC END;

